@charset "uft-8";

/* quick_menu */
.quick_menu{
    position:fixed; top:0; bottom:0; right:-50px; padding-right:50px;
}

/* layout */
header{font-size: 13px;}

/* common */
.row{
    width: 95%; max-width: 1200px; margin: 0 auto;
}
.flexBox{
    display: flex;
}
.title{
    display: flex; justify-content: space-between; padding: 30px 0 15px 0;
}

/* ---------header------ */
/* header_top */
.header_top{
    border-bottom:1px solid #ccc; text-align: center;
}
/* header_logo */
.header_top .header_logo{
    flex:1; padding:10px 5px; border-left:1px solid #ccc; position: relative;
}
.header_top .header_logo img{position: absolute; top: 16px; left:9px;}
.header_top .header_logo span{display: block; padding-left: 2.5rem;}
.header_top .header_logo span strong{font-size: 16px; letter-spacing: -2px; font-weight:800;}
.header_top .header_logo span em{font-size: 10px; letter-spacing: 4.5px;}
/* local navigation bar */
.header_top ul.lnb{display: flex; flex: 5;}
.header_top ul.lnb li{flex: 1; border-left: 1px solid #ccc; padding: 20px 0 0; background: #eee;}
ul.lnb li.lnb_down{position: relative; background: #fff;}
ul.lnb li.lnb_down ul{
    position: absolute; top:60px; left: -1px;
    width: 100%; border-left: 1px solid #ccc; border-right: 1px solid #ccc;
    display:none; z-index:99999;
}
ul.lnb li:hover.lnb_down ul{
    display: block;
}
ul.lnb li.lnb_down h2{font-size: 13.2px;}
ul.lnb li.lnb_down ul li{
    border-left: none; border-bottom: 1px solid #ccc;
    background: #fff; padding: 0;
}
ul.lnb li.lnb_down ul li a{display: block; width: 100%; height: 100%; padding: 7px 0;}
ul.lnb li.lnb_down ul li:hover a{background: #eee; color: #000;}
/* header_brand */
.header_top .brand .flex_btn{justify-content: space-between;}
.header_top .brand{flex:4; padding: 20px 0 0 10px; border-left: 1px solid #ccc;}
.header_top .brand button{
    background: rgb(15, 116, 102); color: #fff; font-size: 12px;
    padding: 2px 5px; border-radius: 3px;
}
/* header_bottom */
.header_bottom{justify-content: space-between;}
.header_bottom img.arsvg{width: 6px; height: 9px; transform: translateY(5px);}
/* left_box */
.header_bottom .left_box{
    padding: 23px 9px 15px 54px; border: 1px solid #ccc; margin: 10px 0;
    background: url(../img/click.png) no-repeat 0 20px;
}
.header_bottom .left_box p{padding-left: 20px;}